
@import '../../../styles/components/checkbox';
@import '../../../styles/components/dropdown';

$table_opts_ratio_perc : 18% ;

.table__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: relative;
}

.table{

    background-color: rgb(0, 73, 131);
    font-size: .9em;
    border-radius: .2em;
    padding: 1em;
    margin: 2em 0 2em 2em;
    align-self: flex-start;
    flex-basis: 75%;


    &__options{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(57, 45, 104, 0.5);
        padding-bottom: 1em;
        p{
            &:nth-child(n){
                color:white;
                text-align: center;
                flex-basis: 26% !important;
            }
            &:nth-child(2){
                flex-basis: 20% !important;
            }
            &:nth-child(3){
                flex-basis: 21% !important;
            }
            &:nth-child(1){
                margin-right: 3em !important;
            }
        }
    }

    &__no__wrapper{
        padding : 2em 0;
    }

    &__no{

        display:flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0.5em 0;
        
        &:nth-child(n){
            color:white;
            text-align: center;
        }

        &-id{
            flex-basis:  10% ;
            margin-right: 1.5em;
        }
        &-name{
            flex-basis: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            &__avatar{
                flex-basis: 10%;
            }
            p{
                flex-basis: 40%;
            }
        }
        &-type{
            flex-basis: 15%;
            margin-right: -2em;
        }
        
        &-price{
            flex-basis: 12%;
            margin-right: 7.5em;
        }
        &-actions{
            flex-basis: 21%;
            margin-right: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
            &_img{
                background: url('../../../../resources/images/more.png') no-repeat;
                height:2em ;
                flex-basis: 17%;
            }
        }

    }

}


.footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.page_number_wrapper{
    display: flex;
    margin-left: 2em;
}

.page_number {
    height: 3em;
    width: 3em;
    background-color: rgba(31, 58, 147, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
    color: white;
    font-size: .9em;
  }

.right_side {
    flex-basis: 21%;
    position: absolute;
    top: 0;
    right: 0;
}
    #items{

        display: none;
        align-items: center;
        justify-content: space-around;
        max-width: 10em;
        margin-right: 22em;
        color: white;
        font-size: .9em;
        flex-basis: 12%;

        &_selected_count{    
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffc107;
            width: 2em;
            height: 2em;
            border-radius: 0.2em;
        }
        &_to_delete{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffc107;
            width: 4em;
            height: 2em;
            border-radius: 0.2em;
        }
    }


.checkbox_wrapper{
    //flex-basis: 5%;
    margin-bottom: 1.2em;
}

.buttons{
display: flex;

    &_one{
        border-radius: .2em;
        background: #dc3545;
        text-decoration: none;
        color: white;
        padding: 1em;
    }

    button{
        border-radius: .2em;
        background: #007bff;
        color: white;
        padding: 1em;
        border: none;
        width: 5em;
        margin-right: .3em;
        font-family: sans-serif;
    }
}



