<section class="slice slice-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-4 mb-4 tar">درباره ما</p>
      </div>
      <p class="lead text-center text-md-left text-muted">
        پلتفرم آموزش آنلاین بستر اینترنتی است که با هدف توسعه آموزش از طریق
        .اینترنت، دوره‌های آموزشی متعددی را در اختیار علاقمندان قرار می‌دهد
      </p>
    </div>
  </div>
</section>
